<div class="category-card-wrapper">
  <div class="card">
    <div class="product-image-container">
      <app-drug-image
        [src]="product.drugImageUrl"
        [alt]="product.drugName"
        classes="product-image"
      ></app-drug-image>
    </div>
    <div class="card-body text-start">
      <h5>{{ product.drugName }}</h5>
      <p style="color: var(--primary-color)">{{ product.pharmacyName }}</p>
      <p
        style="font-size: 18px; font-weight: bold; color: var(--primary-color)"
      >
        {{ product.price }} EGP
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <!-- Dynamic stock status based on quantity -->
        <div
          class="d-flex justify-content-center align-items-center rounded-pill px-2 py-1"
          [style.background-color]="
            getStockBackgroundColor(product.quantityAvailable)
          "
        >
          <p
            style="margin: 0; font-size: 12px"
            [style.color]="getStockTextColor(product.quantityAvailable)"
          >
            {{ getStockStatus(product.quantityAvailable) }}
          </p>
        </div>
        <i
          [ngClass]="
            isFavorite()
              ? 'fa-solid fa-heart text-danger'
              : 'fa-regular fa-heart text-secondary'
          "
          style="font-size: 20px; cursor: pointer"
          (click)="toggleFavorite($event)"
        ></i>
      </div>
      <button
        class="btn btn-modern-primary mt-3 rounded-1"
        style="width: 100%"
        (click)="addToCart(product, $event)"
      >
        Add to Cart
      </button>
    </div>
  </div>
</div>
