<!-- Footer Main Container -->
<div class="footer-container">
  <div class="row">
    <!-- About Section -->
    <div class="col m-5">
      <!-- sdasdasdas -->
      <h5>About</h5>
      <p>
        PharmaLink helps you quickly find and order medicines from trusted
        pharmacies, track your orders, save favorites, and manage your health,
        all in one secure, easy to use platform designed for your convenience.
      </p>
    </div>
    <!-- Navigation Links Section -->
    <div class="col m-5 navigation-links">
      <h5>Navigation Links</h5>
      <!-- Home Link -->
      <div class="links-container">
        <a routerLink="home" data-bs-toggle="tooltip" title="Home">
          <img
            src="assets/images/icons/home.svg"
            alt="Home"
            class="footer-icons"
          />
          <span>Home</span>
        </a>
      </div>
      <!-- Shop Link -->
      <div class="links-container2">
        <a routerLink="category" data-bs-toggle="tooltip" title="products">
          <img
            src="assets/images/icons/cart.svg"
            alt="Cart"
            class="footer-icons2"
          />
          <span>Shop</span>
        </a>
      </div>
      <!-- Favorites Link -->
      <div class="links-container3">
        <a routerLink="favorites" data-bs-toggle="tooltip" title="favorites">
          <div style="width: 25px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="16"
              viewBox="0 0 15 16"
              fill="none"
              class="bi bi-bag footer-icons3"
              class="footer-icons3"
            >
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
                stroke="var(--gray-800)"
                stroke-width="0.7"
                fill="var(--black)"
              />
            </svg>
          </div>
          <span>Favorites</span>
        </a>
      </div>
      <!-- FAQs Link -->
      <div class="links-container4">
        <a routerLink="FAQs" data-bs-toggle="tooltip" title="FAQs">
          <div style="width: 25px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-question-circle footer-icons4"
              viewBox="0 0 20 20"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                stroke="var(--gray-800)"
                stroke-width="0.8"
                fill="var(--black)"
              />
              <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"
              />
            </svg>
          </div>
          <span>FAQs</span>
        </a>
      </div>
      <!-- Contact Us Link -->
      <div class="links-container5">
        <a routerLink="contact-us" data-bs-toggle="tooltip" title="Contact Us">
          <div style="width: 25px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="18"
              fill="currentColor"
              class="bi bi-chat-right footer-icons5"
              viewBox="0 0 18 20"
            >
              <path
                d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"
                stroke="var(--gray-800)"
                stroke-width="0.8"
                fill="var(--black)"
              />
            </svg>
          </div>
          <span>Contact Us</span>
        </a>
      </div>
    </div>
    <!-- Contact Info Section -->
    <div class="col m-5">
      <h5>Contact Info</h5>
      <!-- Phone -->
      <div class="contact-info">
        <a class="mobile-container">
          <div style="width: 25px">
            <i class="bi bi-telephone"></i>
          </div>
          <p>+20 123 4567 890</p>
        </a>
      </div>
      <!-- Email -->
      <div class="contact-info">
        <a class="email-container">
          <div style="width: 25px">
            <i class="bi bi-envelope"></i>
          </div>
          <p>support&#64;PharmaLink.com</p>
        </a>
      </div>
    </div>
  </div>
</div>
