<div class="footer-container">
  <div class="row">
    <div class="col m-5">
      <h5>About</h5>
      <p>
        PharmaLink helps you quickly find and order medicines from trusted
        pharmacies, track your orders, save favorites, and manage your health,
        all in one secure, easy to use platform designed for your convenience.
      </p>
    </div>
    <div class="col m-5 navigation-links">
      <h5>Navigation Links</h5>
      <div class="links-container">
        <a routerLink="/home" data-bs-toggle="tooltip" title="Home">
          <img
            src="assets/images/icons/home.svg"
            alt="Home"
            class="footer-icons"
          />
          <span>Home</span>
        </a>
      </div>

      <div class="links-container2">
        <a routerLink="/home" data-bs-toggle="tooltip" title="Home">
          <img
            src="assets/images/icons/cart.svg"
            alt="Home"
            class="footer-icons2"
          />
          <span>Shop</span>
        </a>
      </div>

      <div class="links-container3">
        <a routerLink="/home" data-bs-toggle="tooltip" title="Home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            class="bi bi-bag footer-icons3"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
              stroke="var(--gray-800)"
              stroke-width="0.3"
              fill="var(--gray-800)"
            />
          </svg>
          <!-- <i class="bi-bag footer-icons3 fw-bold"></i> -->
          <span>Orders</span>
        </a>
      </div>

      <div class="links-container">
        <a routerLink="/home" data-bs-toggle="tooltip" title="Home">
          <img
            src="assets/images/icons/home.svg"
            alt="Home"
            class="footer-icons"
          />
          <span>FAQs</span>
        </a>
      </div>

      <div class="links-container">
        <a routerLink="/home" data-bs-toggle="tooltip" title="Home">
          <img
            src="assets/images/icons/home.svg"
            alt="Home"
            class="footer-icons"
          />
          <span>Contact Us</span>
        </a>
      </div>
    </div>
    <div class="col m-5">
      <h5>Contact Info</h5>
    </div>
  </div>
</div>
