<!-- Wrapper with responsive flex-direction -->
<div class="d-flex flex-column flex-md-row" id="mainWrapper">
  <!-- Sidebar -->
  <app-side-bar
    (categoryNameSelected)="onCategoryNameSelected($event)"
    [selectedCategoryInput]="categoryName"
  >
  </app-side-bar>

  <!-- component for displaying loading spinner -->
  <div
    *ngIf="uiState() === UiState.Loading"
    style="
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <app-loading-spinner></app-loading-spinner>
  </div>

  <!-- component for displaying error messages -->
  <div *ngIf="uiState() === UiState.Error" style="flex-grow: 1">
    <app-error-handling
      [httpError]="httpError() || undefined"
    ></app-error-handling>
  </div>

  <!-- Main Content -->
  <div
    *ngIf="uiState() === UiState.Success"
    class="flex-grow-1"
    id="pageContent"
  >
    <div class="container-fluid px-0">
      <div class="card-list-grid">
        @for (drug of Drugs(); track $index) {
        <div class="card card-grid-item border-0">
          <div
            class="card drug-card border-0 shadow-sm w-100 h-100 rounded-3 transition hover-shadow position-relative"
          >
            <div class="card-body d-flex flex-column">
              <div class="text-center mb-3">
                <app-drug-image
                  [src]="drug.imageUrl"
                  alt="Drug Image"
                  classes="img-fluid product-image"
                  width="100%"
                >
                </app-drug-image>
              </div>
              <h5 class="fw-bold text-dark mb-2 text-center text-md-start">
                {{ drug.name }}
              </h5>
              <p class="text-muted mb-3 text-center text-md-start">
                {{ drug.drugCategory }}
              </p>

              <div
                class="d-flex flex-column flex-sm-row justify-content-between align-items-stretch align-items-sm-center gap-2 mt-auto"
              >
                <button
                  class="btn btn-modern-primary btn-modern-square flex-grow-1 me-sm-2"
                  [routerLink]="['/client/DrugDetails', drug.drugId]"
                >
                  View Details
                </button>
                <button
                  class="btn bg-transparent border-0 align-self-center p-2"
                  (click)="Category_ToggleFavorites(drug)"
                >
                  <i
                    [ngClass]="
                      Category_isFavorite(drug.drugId)
                        ? 'fa-solid fa-heart text-danger'
                        : 'fa-regular fa-heart text-secondary'
                    "
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
