<div
  class="d-flex flex-column justify-content-center align-items-center text-center w-100"
  style="padding: 64px"
>
  <p style="font-weight: bold; font-size: 30px; margin-bottom: 32px">
    Our Service
  </p>
  <!-- This section used to highlight the services offered by the pharmacy -->
  <div
    class="d-flex justify-content-center align-items-stretch gap-4 flex-wrap service-cards-container"
  >
    <!--service card -->
    <div class="service-card-wrapper">
      <div class="card text-center">
        <img
          src="assets/images/icons/drug.svg"
          alt="Medicine"
          class="icon mx-auto d-block"
        />
        <div class="card-body">
          <h5 class="card-title">Wide Range of Medicines</h5>
          <p class="card-text">Find all the medicines you need in one place.</p>
        </div>
      </div>
    </div>
    <!--service card -->
    <div class="service-card-wrapper">
      <div class="card text-center">
        <img
          src="assets/images/icons/delivery.svg"
          alt="Medicine"
          class="icon mx-auto d-block"
        />
        <div class="card-body">
          <h5 class="card-title">Fast Delivery</h5>
          <p class="card-text">
            Get your medicines delivered to your doorstep quickly.
          </p>
        </div>
      </div>
    </div>
    <!--service card -->
    <div class="service-card-wrapper">
      <div class="card text-center">
        <img
          src="assets/images/icons/expert.svg"
          alt="Medicine"
          class="icon mx-auto d-block"
        />
        <div class="card-body">
          <h5 class="card-title">Expert Advice</h5>
          <p class="card-text">
            Consult with our experts for the best health advice.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
