<div class="monthly-performance-section">
  <div class="d-flex justify-content-between mb-4">
    <div class="card-header">
      <h4><i class="fa-solid fa-chart-line" [style.color]="'var(--blue-200)'"></i> Monthly Performance</h4>
      <p [style.color]="'var(--gray-800)'">Revenue and order trends over time</p>
    </div>
    <div class="chart-controls ">
      <label for="year-select">Select Year:</label>
      <select id="year-select" [(ngModel)]="selectedYear" (change)="onYearChange(selectedYear)" class="form-select">
        @for (year of availableYears; track $index) {
        <option [value]="year">
          {{ year }}
        </option>
        }
      </select>
    </div>
  </div>
  <div class="chart-container">
    <div class="chart-wrapper">
      <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"></canvas>
    </div>
  </div>
</div>