<div class="profile-container">
  <app-profile-header></app-profile-header>
  <app-profile-navbar></app-profile-navbar>

  <!-- Main Content Area - Loading, Profile Data, or Error -->
  @if (isLoading() === UiState.Loading) {
  <div class="profile-loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  } @else if (isLoading() === UiState.Success) {
  <app-profile-main></app-profile-main>
  } @else {
  <app-profile-error></app-profile-error>
  }
  <!-- Alert states -->
  <!-- @if (alertState() == FormState.Success) {
  <div class="alert alert-success alert-position" role="alert">
    Profile has been edited successfully!
  </div>
  } @else if (alertState() == FormState.Failed) {
  <div class="alert alert-danger alert-position" role="alert">
    A simple danger alert—check it out!
  </div>
  } @else if (alertState() == FormState.Required) {
  <div class="alert alert-warning alert-position" role="alert">
    A simple warning alert—check it out!
  </div>
  } @else (){} -->

  <app-alert
    [alertState]="alertState()"
    [alertMessage]="alertMessage()"
  ></app-alert>
</div>
