<div class="dashboard-page">
  <app-dashboard-header></app-dashboard-header>
  <div class="container">
    <div class="alert alert-warning account-status-alert">
            <div class="alert-content">
                <i class="fas fa-clock"></i>
                <div>
                    <h4>Account Pending Approval</h4>
                    <p>Your account is currently under review. Our team will verify your information and activate 
                    your account shortly. For any questions, contact <a href="mailto:support@PharmaLink.com">support&#64;PharmaLink.com</a>.</p>
                </div>
            </div>
        </div>
  </div>
</div>
