/* .card {
  max-width: 386px;
  padding: 25px 92px !important;
  border: none;
  box-shadow: 0 4px 24px var(--shadow-dark), 0 1.5px 6px var(--shadow-dark);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: var(--background-white);
}

.card p {
  font-size: 14px;
  color: var(--primary-blue);
}

.card:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 8px 32px var(--shadow-dark), 0 3px 12px var(--shadow-dark);
}

.category-cards-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}*/

.card {
  max-width: 386px;
  padding: 25px 0;
  border: none;
  box-shadow: 0 4px 24px var(--shadow-dark), 0 1.5px 6px var(--shadow-dark);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: var(--background-white);
}
.card p {
  font-size: 14px;
  color: var(--primary-blue);
}
.card:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 8px 32px var(--shadow-dark), 0 3px 12px var(--shadow-dark);
}

.category-card-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category-icon {
  width: 45px;
  height: 45px;
}
