<div class="pharmacies-page">
    <app-page-header></app-page-header>
    <div class="container">
        <div class="row">
            @if (loading) {
            <div class="loading-spinner">
                <app-loading-spinner></app-loading-spinner>
            </div>
            }  @else {
            <div class="dashboard-grid">
                @for (card of cards; track card.title) {
                <app-status-card [title]="card.title" [value]="card.value"  [icon]="card.icon"
                    [color1]="card.color1" [color2]="card.color2" [color3]="card.color3" />
                }
            </div>
            }
        </div>
    </div>
</div>