<div class="dashboard-page">
  <app-dashboard-header></app-dashboard-header>
  <div class="container">
    <div class="row">
      @if (loading) {
      <div class="loading-spinner">
        <app-loading-spinner></app-loading-spinner>
      </div>
      } @else if (errorMessage) {
      <div class="error-message error-alert">
        {{ errorMessage }}
      </div>
      } @else {
      <div class="dashboard-grid">
        @for (card of cards; track card.title) {
        <app-stats-card [title]="card.title" [value]="card.value" [description]="card.description" [trend]="card.trend"
          [icon]="card.icon" [color]="card.color" />
        }
      </div>
      }
      <div class="quick-actions">
        <app-quick-actions></app-quick-actions>
      </div>
      <div class="col-md-8">
        <div class="top-selling-products">
          <app-top-selling-products-section [pharmacyAnalysis]="analysisData"></app-top-selling-products-section>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>