<div class="dashboard-page">
  <app-dashboard-header></app-dashboard-header>
  <div class="container">
    <div class="row">
      @if (loading) {
      <div class="loading-spinner">
        <app-loading-spinner></app-loading-spinner>
      </div>
      } @else {
      <div class="dashboard-grid">
        @for (card of cards; track card.title) {
        <app-stats-card [title]="card.title" [value]="card.value" [description]="card.description" [trend]="card.trend"
          [icon]="card.icon" [color]="card.color" />
        }
      </div>
      }
      <div class="quick-actions">
        <app-quick-actions></app-quick-actions>
      </div>
      <div class="col-md-8">
        <div class="top-selling-products">
          <app-top-selling-products-section [pharmacyAnalysis]="analysisData"></app-top-selling-products-section>
        </div>
      </div>
      <div class="col-md-4">
        <div class="recent-activity">
          <app-recent-activity></app-recent-activity>
           <!-- <app-top-customers-section [pharmacyAnalysis]="analysisData"></app-top-customers-section> -->
        </div>
      </div>
      <div class="col-md-12">
        <div class="monthly-performance">
          <app-monthly-performance-section [monthlyStats]="analysisData?.monthlyStats"></app-monthly-performance-section>
        </div>
      </div>
    </div>
  </div>
</div>